<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<!--div th:text="@servicemessage"></div-->

<form class="form-signin" method="post" th:action="@{/registration}">
    <h2 class="form-signin-heading">Please registration</h2>
    <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
    </p>
    <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    </p>
    <!--input name="_csrf" type="hidden" value="cd72f938-cd21-4ca4-b056-7c10393dcc79"-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
</form>
</body>
</html>
